@font-face {
    font-family: 'Poppins';
    src: url('../../public/assets/fonts/Poppins-SemiBold.ttf');
    font-weight: 400;
    font-style: normal;
  }
    

body {
    text-align: center;
    padding-top: 15vh;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
}

h1 {
    font-size: 4em;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    letter-spacing: normal;
}

.linkContainer {
  background-color: rgb(163, 201, 235);
  width: 70%;
  padding: 6px;
  margin-bottom: 1rem;
  border-radius: 1.4rem;
  border-bottom-width: 6px;
  border-right-width: 4px;
  border-color: rgb(57, 86, 144); /* Use a color that contrasts with the background */
  border-style: solid;
  transition: border-width 0.2s; /* Apply the transition to border-width property */
}

.linkContainer:hover {
  padding-top: 2px;
  border-bottom-width: 2px;
  border-right-width: 2px;
}


  .linkContainer p {
    color: rgb(63, 118, 118);
    font-size: 18px;
  }