/* For phone usage */
@import url('../../fonts.css');
@media (max-width: 768px) {
    .profilePhotoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 45px 40px 10px 40px;

    }
    .profilePhoto {
        object-fit: cover;
        width: 40%;
        border-radius: 50%;
    }
    .profileMainContainer {
        display: flex;
        flex-direction: column;
    }


    .userNameContainer {
        display: flex;
        align-items: center;
        justify-content: content;
        flex-direction: column;
    }

    .userNameContainer h1 {
        margin-bottom: 0px;
        margin-top: 10px;
        font-family: 'SuperDessert', sans-serif;
        font-weight: 400;
        color: #AB3C0D;
        font-size: 40px;
    }

    .userNameContainer p{
        margin-top: 0.2em;
        margin-bottom: 0.2em;
        font-weight: 400;
    }

    .usernameOfUser {
        font-size: 0.8em;
    }

    .descOfUser {
        font-size: 1em;
        margin-top: 30px;
    }

    .userOwns {
        padding-left: 15px;
        font-family: 'SuperDessert';
        font-weight: 400;
        font-size: 26px;
        color: #AB3C0D;
    }
    .friendsLogo {
        padding: 20px;
    }
}



