@media (max-width: 768px) {
    /* CardList.css */
    .cardList {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two cards in each row */
        align-items: center;    
        justify-items: center;
    }
}