@import url('../../fonts.css');

@media (max-width: 768px) {
  .benImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px 0px 20px 0px;
    width: 280px;
    height: 340px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px #e3dccb;

  }
  .benImage {
      object-fit: cover;
      width: 90%;
  }

  /* Card.css */
  .benCardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* font-family: 'SuperDessert', sans-serif; */
    
  }

  .benCardContainer p {
    margin: 10px 10px;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 300;
    margin-bottom: 30px;
  }

  .benName p {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 1.3rem;
    font-family: 'Poppins';
    color: #AB3C0D;
  }
}