
@font-face {
    font-family: 'SuperDessert';
    src: url('../public/assets/fonts/Super\ Dessert.ttf') format('sans-serif');
    font-weight: lighter;
    font-style: normal;
  }

@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
  font-weight: 400;
  font-style: normal;
}
  
