@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Itim';
  src: url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  font-weight: 400;
  font-style: normal;
}
  


body {
  margin: 0;
  font-family:'Itim', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d0dff8;
  background-color: #659DBD;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



