@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../public/assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Itim';
  src: url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background-colour: #659DBD;
  --font-colour: #d0dff8;
  --accent-colour: rgb(57, 86, 144);
  --font-lato: 'Lato', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-itim: 'Itim', sans-serif;
}



body {
  margin: 0;
  font-family:'Itim', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d0dff8;
  background-color: #659DBD;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



